body {
  margin: 30px 0;
  background: #fcebeb;
  font-family: "Brygada 1918", serif;
  /* line-height: 2em; */
  font-size: 1.5vmax;
}
figure{
  margin: 0;
}
#image {
  width: 85%;
}

figcaption {
  font-size: 2vmax;
  margin-bottom: 1em;
}

#img-div,
h1,
p,
figcaption {
  text-align: center;
}

article {
  padding: 3%;
  margin: auto;
  width: 70%;
  background: #c7d8f7;
}

li {
  margin: 1em;
}
strong {
  text-decoration: underline;
}
@media (max-width:800px){
  article{
    width: 100%;
  }
  body{
    font-size: 2vmax;
  }
}